# Managed by Ansible - MySQL 8.4 Custom Configuration
[mysqld]
port = {{ mysql_port }}
bind-address = {{ mysql_bind_address }}
datadir = {{ mysql_datadir }}
socket = /var/lib/mysql/mysql.sock
lower_case_table_names = 1

[client]
port = {{ mysql_port }}
socket = /var/lib/mysql/mysql.sock
