[Unit]
Description=MySQL Data Directory Bootstrap Service
Before=mysqld.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mysql-data-bootstrap.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target mysqld.service
